{% extends 'psychologist_app/base.html' %}
{% load static %}
{% block link %}{% url 'topics' %}{% endblock %}

{% block name %} {{ title }}{% endblock %}}

{% block content %}
<br>
<h2><a href="{{ post.topic.get_absolute_url }}">{{ post.topic }}</a></h2>
    <p>
		<span class="image left">
			<img width="10%" height="20%" src="{{ post.profile_picture.url }}" alt=""
     		style="transition: transform 0.2s ease-out; overflow: hidden;"
     		class="image featured" onmouseover="this.style.transform = 'scale(1.05)';"
     		onmouseout="this.style.transform = 'scale(1)';" />
		</span>
		<h2>{{post.title}}</h2>
	{{ post.content|linebreaksbr }}
	</p>
<p>{{ post.created_at }} <a href="{% url 'about' %}">{{ post.psychologist }}</a></p>
{% endblock %}
