{% extends 'psychologist_app/base.html' %}
{% load static %}
{% load cache %}

{% block content %}
<script src="{% static 'blog/sidebars.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'blog/sidebars.css' %}">

<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
    </style>

<main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
        {% if topic_selected == 0 %}
            <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
              <span class="fs-4">Всі теми</span>
            </a>
{% else %}
        <a href="{% url 'posts' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4">Всі теми</span>
        </a>
{% endif %}

    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
        {% for topic in topics %}
        {% if topic.post__count > 0 %}
                {% if topic.slug == topic_selected %}
              <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                    {{topic.title}}
                </a>
      </li>

                {% else %}
                          <li>
                            <a href="{{ topic.get_absolute_url }}" class="nav-link text-white">
                                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                                {{topic.title}}
                            </a>
                        </li>
                {% endif %}
            </p>
        {% endif %}
    {% endfor %}

    </ul>
    <hr>
  </div>

  <div class="b-example-divider b-example-vr"></div>
{% for post in posts %}
    <div class="content ">
        <h2 class="post-topic">Тема : {{post.topic}}</h2>
        {% if post.profile_picture %}
            <p class="post-image"><img src="{{ post.profile_picture.url }}" alt="Image" width="500" height="400"></p>
        {% endif %}
        <h3 class="post-title">{{post.title}}</h3>
        <p class="post-content">{{post.content|linebreaks|truncatewords:50}}</p>
        <p class="post-author">Автор : {{post.author}}</p>
        <p class="post-date">Дата : {{post.created_at|date:"d-m-Y H:i:s"}}</p>
        <div class="read-more">
            <p><a href="{{post.get_absolute_url }}">Читати детальніше</a></p>
        </div>
    </div>
{% endfor %}

    {% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        <li>
            <a href="?page={{ get_first_page_number }}">На початок</a>
        </li>
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        {% for p in paginator.page_range %}
        <li class="page-num">
            {% if page_obj.number == p %}
             <span class="current">{{ p }}</span>
            {% else %}
                <a href="?page={{ p }}">{{ p }}</a>
            {% endif %}
        </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
        <li>
            <a href="?page={{ paginator.num_pages }}">В кінець</a>
        </li>
    </ul>
</nav>
{% endif %}
</main>
{% endblock %}
