{% extends 'psychologist_app/base.html' %}
{% load static %}
{% block link %}{% url 'topics' %}{% endblock %}
{% block name %} {{ title }}{% endblock %}}
{% block content %}
<br>
<h2>{{ topic }}</h2>

<!-- Post -->
{% for post in posts %}
<section id="banner">
	<div class="content">
		<header>
			<h2><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
			<p>{{post.subtitle}}</p>
		</header>
		<p>{{ post.content|linebreaks|truncatewords:60 }}</p>
		<p>{{ post.created_at }} <a href="{% url 'about' %}">{{ post.psychologist }}</a></p>
		<ul class="actions">
			<li><a href="{{ post.get_absolute_url }}" class="button big">Детальніше</a></li>
		</ul>
	</div>
		<span class="image object">
			<img src="{{ post.profile_picture.url }}" alt=""
     		style="transition: transform 0.2s ease-out; overflow: hidden;"
     		class="image featured" onmouseover="this.style.transform = 'scale(1.05)';"
     		onmouseout="this.style.transform = 'scale(1)';" />
		</span>
</section>
{% endfor %}
						<!-- Pagination -->
						{% if page_obj.has_other_pages %}
								<ul class="pagination">
									{% if not page_obj.has_previous %}
										<span class="button disabled">Назад</span>
									{% else %}
										<li><a href="?page={{ page_obj.previous_page_number }}" class="button">Назад</a></li>
									{% endif %}

									{% for p in paginator.page_range %}
										{% if page_obj.number == p %}
									<li><a class="page active">{{ p }}</a></li>
										{% else %}
											<li><a href="?page={{ p }}" class="page">{{ p }}</a></li>
										{% endif %}

									{% endfor %}
									{% if page_obj.has_next %}
										<li><a href="?page={{ page_obj.next_page_number }}" class="button">Далі</a></li>
									{% else %}
										<span class="button disabled">Далі</span>
									{% endif %}
								</ul>

						{% endif %}

{% endblock %}