{% extends 'psychologist_app/base.html' %}
{% load static %}
{% block name %} {{ title }} {% endblock %}}
{% block content %}
<header class="main">
										<h1>Elements</h1>
									</header>
						<!-- Post -->
						{% for post in posts %}
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="{{post.get_absolute_url }}">{{ post.title }}</a></h2>
										<p>{{ post.subtitle }}</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{ post.created_at|date:"d-m-Y H:i:s" }}</time>
										<a href="{% url 'about' %}" class="author"><span class="name">{{ post.psychologist }}</span><img src="{{post.psychologist.profile_picture.url }}" alt="" /></a>
									</div>
								</header>
								<a href="{{post.get_absolute_url }}" class="image featured"><img src="{{ post.profile_picture.url }}" alt="" /></a>
								<p>{{ post.content|linebreaks|truncatewords:50 }}</p>
								<footer>
									<ul class="actions">
										<li><a href="{{post.get_absolute_url }}" class="button large">Детальніше</a></li>
									</ul>
								</footer>
							</article>
						{% endfor %}
						<!-- Pagination -->
						{% if page_obj.has_other_pages %}
								<ul class="actions pagination">
									{% if page_obj.has_previous %}
										<li><a href="?page={{ get_first_page_number }}" class="button large next">На початок</a></li>
										<li><a href="?page={{ page_obj.previous_page_number }}" class="button large next">Назад</a></li>
									{% endif %}

									{% for p in paginator.page_range %}
										{% if page_obj.number == p %}
									<li ><p class="disabled button large previous">{{ p }}</p></li>
										{% else %}
											<li><a href="?page={{ p }}" class="button large next">{{ p }}</a></li>
										{% endif %}

									{% endfor %}
									{% if page_obj.has_next %}
										<li><a href="?page={{ page_obj.next_page_number }}" class="button large next">Далі</a></li>
										<li><a href="?page={{ paginator.num_pages }}" class="button large next">В кінець</a></li>
									{% endif %}
								</ul>

						{% endif %}

{% endblock %}