{% extends 'psychologist_app/base.html' %}
{% load static %}
{% block link %}{% url 'topics' %}{% endblock %}
{% block name %} {{ title }} {% endblock %}}
{% block content %}

		<!-- Wrapper -->
			<div id="wrapper">
					<div id="main">
						<div class="inner">

							<section class="tiles">

							{% for topic in topics %}

									<article class="{{ topic.color}}">
										<span class="image">
											<img src="{{ topic.profile_picture.url }}" alt="" height="326px" />
										</span>
										<a href="{{ topic.get_absolute_url }}">
											<h2>{{ topic.title }}</h2>
											<div class="content">
												<p>{{ topic.description }}</p>
											</div>
										</a>
									</article>

							{% endfor %}
								</section>
						</div>
					</div>
			</div>

		<!-- Scripts -->



{% endblock %}