{% extends 'psychologist_app/base.html' %}
{% load static %}
{% block head %}
{% endblock%}
{% block name %}
Вхід
{% endblock%}

{% load static %}
{% load socialaccount %}
{% block content %}
<section id="banner">
    <div class="content">
        <form method="post" action="#">
            {% csrf_token %}
            <div class="row gtr-uniform">
                <div class="col-9">
                    <label>Логін</label>{{ form.username }}
                </div>
                <div class="col-9">
                    <label>Пароль</label>{{ form.password }}
                </div>
                <div class="col-9">
                    <input type="submit" value="Увійти" class="fit"/>
                </div>
                <div class="col-9">
                    <a href="{% url 'register' %}"><input type="button" value="Зареєструватись" class="primary fit"/></a>
                </div><div class="col-9">
                <a href="{% provider_login_url 'google' %}?process=login"><input type="button" value="Увійти з Google" class="primary fit"/></a>
                </div>
            </div>
        </form>
    </div>
    <span class="image object">
		asdasdsadsadsadasdsad
	</span>
</section>
{% endblock %}