{% extends 'psychologist_app/base.html' %}
{% block head %}
{% endblock%}
{% block link %}{% url 'about' %}{% endblock %}
{% block name %} {{ title }}{% endblock %}}
{% block content %}
<section id="banner">
	<div class="content">
		<header>
			<h2>Привіт ! Мене звуть {{ psychologist.user.first_name }} {{ psychologist.user.last_name }}<br/>
				Я дитячий психолог</h2>
		</header>
		<p>{{ psychologist.description}}</p>
	</div>
	<span class="image object">
		<img src="{{ psychologist.profile_picture.url }}" alt="" />
	</span>
</section>
{% endblock %}
