{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'psychologist_app/css/fontawesome-all.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'psychologist_app/css/main.css' %}">
		{% block head %}
		{% endblock%}
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<h2><a href="{% block link %} {% url 'home' %} {% endblock %}" class="logo"><strong>{% block name%}Головна сторінка {% endblock %}</strong></a></h2>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-viber"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-telegram"><span class="label">Medium</span></a></li>
									</ul>
								</header>
						{% block content %}
						{% endblock %}
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Меню</h2>
									</header>
									<ul>
										<li><a href="{% url 'home' %}">Головна сторінка</a></li>
										<li><a href="{% url 'topics' %}">Блог</a></li>
										<li><a href="elements.html">Про мене</a></li>
										<li>
											<span class="opener">Освіта</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Новини</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="#" class="button">More</a></li>
									</ul>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Контактна іформація</h2>
									</header>
									<p>Контактна інформація</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
										<li class="icon solid fa-phone">(000) 000-0000</li>
										<li class="icon solid fa-home">1234 Somewhere Road #8254<br />
										Nashville, TN 00000-0000</li>
									</ul>
								</section>
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Панчук В.В <a href="https://unsplash.com">Портфоліо</a>Дизайн: <a href="https://html5up.net">Посилання</a>.</p>
								</footer>
						</div>
					</div>
			</div>

		<!-- Scripts -->
			<script src="{% static 'psychologist_app/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'psychologist_app/js/browser.min.js' %}"></script>
			<script src="{% static 'psychologist_app/js/jquery.min.js' %}"></script>
			<script src="{% static 'psychologist_app/js/main.js' %}"></script>
			<script src="{% static 'psychologist_app/js/util.js' %}"></script>
			{% block scripts %}
			{% endblock %}
	</body>
</html>