{% extends 'psychologist_app/base.html' %}
{% load static %}
{% block link %}{% url 'contact' %}{% endblock %}
{% block name %} {{ title }}{% endblock %}}
{% block head %}
{% endblock%}
{% block content %}
<section>
    <ul class="contact">
        <li class="icon solid fa-envelope"> <h4>E-mail: </h4>{{ psychologist_email }}</li><br>
        <li class="icon solid fa-phone"><h4>Номери телефонів: </h4>
            {% for phone in psychologist_phone_numbers %}
        {{ phone }}
        {% endfor %}
        </li>
    </ul>
</section>
<h2>Зворотній зв'язок</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
</form>
{% endblock %}