{% extends 'psychologist_app/base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'psychologist_app/css/features.css' %}" rel="stylesheet">
<h1 class="visually-hidden">Контактна інформація</h1>
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Контактна інформація</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <img src="{% get_media_prefix %}phone.svg" width="50px" height="50px">
        <h3 class="fs-2 text-body-emphasis">Номери телефонів</h3>
          {% for numbers in psylogist.contact_numbers  %}
        <p> {{ numbers }} </p>
          {% endfor %}
      </div>

      <div class="feature col">
        <img src="{% get_media_prefix %}email.svg" width="50px" height="50px">
        <h3 class="fs-2 text-body-emphasis">Поштова скинька</h3>
        <p>{{ psylogist.email }}</p>
      </div>
      <div class="feature col">

          <img src="{% get_media_prefix %}social.svg" width="50px" height="50px">

        <h3 class="fs-2 text-body-emphasis">Соц-мережі</h3>
          <a href="{{ psylogist.telegram }}"><img src="{% get_media_prefix %}telegram.svg" width="30px" height="30px"></a>
          <a href="{{ psylogist.instagram }}"><img src="{% get_media_prefix %}instagram.svg" width="30px" height="30px"></a>
          <a href="{{ psylogist.facebook }}"><img src="{% get_media_prefix %}facebook.svg" width="30px" height="30px"></a>

      </div>
    </div>
  </div>
{% endblock %}