{% extends 'psychologist_app/base.html' %}
{% load static %}
{% block content %}

<style>
.feedback-form {
  display: none;
  border-radius: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 0 #ccc;
  z-index: 9999;
}

.feedback-form h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.feedback-form input, .feedback-form textarea {
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
    background-color: white;
    color: black;
}

.btn-feedback {
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
  width: 100%;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button span {
  width: 100%;
  height: 100%;
}

.close-button span::before {
  content: "&times;";
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.close-button:hover {
  background-color: #000;
  color: #fff;
}
.feedback-button{
    display: block;
    border-radius: 50%;
     position: absolute;
     bottom: 50;
     right: 80;
     width: 130px;
     height: 130px;
     position: fixed;
     z-index: 9998;
}
.feedback-button:hover {
  transform: scale(1.1);
  background-color: black;
  color:white;
}
  .main-header {
    display: flex;
    align-items: center;
    background-color: grey;


  }

  .left {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left h1 {
    margin-top: 0;
    text-align: center;
  }

  .left p,
  .left a {
    text-align: center;
  }

  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right img {
    margin: 20px;
    max-width: 50%;
    height: auto;
    border-radius: 5%;
  }
  .right p {
    margin-top: 10px;
    text-align: center;
  }
  .container marketing{
    background-color: #a8ea8b;
  }
  .card {
    height: 100%;
    }
   .card-img-top {
    width: 100%; /* Встановіть фіксовану ширину для зображення */
    height: 200px; /* Встановіть фіксову висоту для зображення */
    object-fit: cover; /* Забезпечте збереження пропорцій зображення та його повне вписання в блок */
  }
</style>
<link href="{% static 'psychologist_app/css/carousel.css' %}" rel="stylesheet">
<div class="feedback-form">
  <form method="post">
    {% csrf_token %}
            <p style="color: black">Форма зворотнього зв'язку</p>
            {{ form.phone_number }}
            <div class="form-error">{{ form.phone_number.errors }}</div>


            {{ form.name }}
            <div class="form-error">{{ form.name.errors }}</div>


            {{ form.description }}
            <div class="form-error">{{ form.description.errors }}</div>



            {{ form.telegram }}
            <div class="form-error">{{ form.telegram.errors }}</div>


            <label for="{{ form.captcha.id_for_label }}">Введіть текст з картинки</label>
            {{ form.captcha }}
            <div class="form-error">{{ form.captcha.errors }}</div>

            <button class="btn-feedback" type="submit">Відправити</button>
      <button class="close-button" aria-label="Close feedback form">
    X
  </button>
  </form>
</div>
<button class="feedback-button">Передзвоніть мені</button>

<div class="main-header">
    <div class="left">
        <h1>Твій психолог завжди поруч</h1>
                    <p class="opacity-75">Допомога дітям, які постраждали від війни</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Записатись на прийом</a></p>
    </div>
    <div class="right">
        <image src="{{ psychologist.profile_picture.url }}" />
        <h2>{{psychologist.user.last_name}} {{psychologist.user.first_name}}</h2>
    </div>
</div>
<main>
{% for item in content %}
  <div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
      {% if forloop.counter|divisibleby:2 %}
        <div class="col-md-7 order-md-2">
      {% else %}
        <div class="col-md-7">
      {% endif %}
        <h2 class="featurette-heading fw-normal lh-1">{{ item.title }}</h2>
        <p class="lead">{{ item.description }}</p>
      </div>
      {% if forloop.counter|divisibleby:2 %}
        <div class="col-md-5 order-md-1">
      {% else %}
        <div class="col-md-5">
      {% endif %}
          <image src="{{ item.image.url }}" width="100%" height="-150%" />
      </div>
    </div>
  </div>
{% endfor %}
    </div>
    </div>
<hr class="featurette-divider">
    <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Методики</h1>
        <p class="lead text-body-secondary">Загальний опис, що таке методики</p>
      </div>
    </div>
  </section>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for item in methodics %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ item.image.url }}" width="100%" height="200px">
            <div class="card-body">
                <h2><p class="card-text">{{ item.title }}</p></h2>
              <p class="card-text">{{ item.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

</main>
<script>
  document.querySelector(".close-button").addEventListener("click", function() {
    document.querySelector(".feedback-form").style.display = "none";
    document.querySelector(".feedback-button").style.display = "block";
  });

  document.querySelector(".feedback-button").addEventListener("click", function() {
    document.querySelector(".feedback-form").style.display = "block";
    document.querySelector(".feedback-button").style.display = "none";
  });
</script>
{% endblock %}
