{% extends 'psychologist_app/base.html' %}
{% load static %}
{% block head %}

{% endblock%}
{% block content %}
<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Привіт ! Мене звуть {{ psychologist.user.first_name }} {{ psychologist.user.last_name }}<br />
				Я дитячий психолог</h2>
			<p>A free and fully responsive site template</p>
		</header>
		<p>{{ psychologist.description|linebreaks|truncatewords:50}}</p>
		<ul class="actions">
			<li><a href="{% url 'about' %}" class="button big">Про мене</a></li>
		</ul>
	</div>
	<span class="image object">
		<img src="{{ psychologist.profile_picture.url }}" alt="" />
	</span>
</section>
<!-- Section -->
<section>
	<header class="major">
		<h2>Запити, з якими я працюю</h2>
	</header>
	<div class="features">
		{% for question in questions %}
		<article>
			<span class="icon solid fa-{{ question.icons }}"></span>
			<div class="content">
				<h3>{{ question.title }}</h3>
				<p></p>
			</div>
		</article>
		{% endfor %}
	</div>
</section>
<!-- Section -->
<section>
	<header class="major">
		<h2>Методики, які я використовую</h2>
	</header>
	<div class="posts">
		<article>
			<a href="#" class="image"><img src="{% static 'psychologist_app/pic01.jpg' %}" alt="" /></a>
			<h3>Interdum aenean</h3>
			<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			<ul class="actions">
				<li><a href="#" class="button">More</a></li>
			</ul>
		</article>
	</div>
</section>
{% block scripts %}
{% endblock %}
{% endblock %}
